body{
    background: #D2B48C;
}

h1 {
    background: #F08080;
    color: #FFFFFF;
    width: 100%
}

border{
    background: #FFFFFF;
}

table{
    background: #FFFFFF;
    color: #FFFFFF;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%
    
}

th{
    background: #FFFF99;
    color: #696969;
    border-bottom: 1px solid black;
    height: 50px;
    text-align: center;
    padding: 10px;
}

td{
    text-align: center;
    vertical-align: bottom;
    height: 20px;
    
}

tr{
    border-bottom: 1px solid black;
}


tr:nth-child(even){
    background-color: #F08080;
}

tr:nth-child(odd){
    background-color: #999999;
}

tr:hover{
    background:#CCCCCC;
}

.centerText{
    text-align: center;
}

form{
    font-size: 125%;
    color: #FFFFFF;
    text-align: left;
    background-color: #F08080;
    border: 1px solid black;
    width: 45%;
    padding: 2px;
}

input[type=text]{
    width: 80%;
    height: 20px;
    border: 1px solid black;
}